.homeList {
  ul {
    li {
      padding-right: 1rem;
      padding-bottom: 1rem;
      text-indent: 1rem;

      &::marker {
        font-size: 2rem;
        line-height: 0.5rem;
      }

      &:nth-child(1) {
        list-style-type: "🐮";
      }
      &:nth-child(2) {
        list-style-type: "🪁";
      }
      &:nth-child(3) {
        list-style-type: "🔋";
      }
      &:nth-child(4) {
        list-style-type: "📬";
      }
    }
  }
}

.devlogPostList {
  list-style: none;
  padding-left: initial;
}

.devlogPostLink {
  color: var(--black);
  text-decoration: none;
}
