# builds
dist
build
public
tmp
/out-tsc
**/src/gatsby-types.d.ts

# dependencies
node_modules

# workspaces
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.TODO
.cache
.parcel-cache
storybook-static
.DS_Store
Thumbs.db

# secrets
.env
palladium-cert.pem
palladium-privkey.pem

# containers
**/palladium/containers/**
!**/palladium/containers/swag
!**/palladium/containers/swag/config
!**/palladium/containers/swag/config/nginx
!**/palladium/containers/swag/config/nginx/proxy-confs
!**/palladium/containers/swag/config/nginx/proxy-confs/listmonk.subdomain.conf
!**/palladium/containers/swag/config/nginx/proxy-confs/mattermost.subdomain.conf
!**/palladium/containers/swag/config/nginx/proxy-confs/wiki.subdomain.conf

# Local Netlify folder
.netlify
