@import "../../components/Layout/variables";

.pageTitleDiv {
  position: relative;
  text-align: center;
  margin: 0.5rem 0 1.5rem 0;
}

.pageTitle {
  font-family: "Luckiest Guy";
  font-size: 3rem;
  color: var(--black);
  text-shadow: 1px 1px 2px var(--white);
  letter-spacing: 2px;
  position: relative;
}

.pageTitleImage {
  background-image: url("../../images/pageTitleFlowers.png");
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: -0.5rem;
  left: 0rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.devlogPostTitle {
  font-family: "Capriola";
  letter-spacing: initial;
  color: var(--black);
  text-shadow: 1px 1px 2px var(--white);
}
